/*#region FONTS */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/*#endregion FONTS*/

/* variables */
:root {
  --main-width: 1420px;
  --header-height: 200px;
  --font-roboto: "Roboto", sans-serif;

  --green-accent: #0abc22;
  --white-text: #fff;
  font-family: "Roboto", sans-serif;
}
/*#region UTILS */
.font-light {
  font-weight: 300;
}
.font-medium {
  font-weight: 500;
}
.green-button {
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(180deg, var(--green-accent) 0%, #398944 100%);
  color: var(--white-text);
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  padding: 25px 35px;
  border: 0;
  outline: 0;
}
/*#endregion UTILS */

/*#region LOGO */
.logo {
  text-indent: -99999999999px;
  overflow: hidden;
  display: block;
  width: 220px;
  height: 43px;
  background-size: contain;
}
.logo::before {
  content: "";
  display: block;
  width: 52px;
  height: 43px;
  background-size: contain;
}
.logo_white {
  background: url(/img/logo-topdom-text-white.svg) no-repeat 63px 50%;
  background-size: contain;
}
.logo_white::before {
  background: url(/img/logo-topdom-pic-white.svg) no-repeat;
  background-size: contain;
}
.logo_header {
  margin: 38px 42px 0 0;
}
/*#endregion LOGO*/

/*#region HEADER */
.header {
  position: relative;
  z-index: 9999999;
}
.header__wrapper {
  height: var(--header-height);
  max-width: var(--main-width);
  margin: 0 auto -200px;
  background: transparent;
}
.header__upper {
  min-height: 132px;
  display: flex;
  flex-wrap: nowrap;
}
.header__rating {
  display: flex;
  gap: 21px;
  margin-right: 85px;
}
.header__flag {
  box-sizing: border-box;
  padding: 20px 0 0;
  width: 77px;
  height: 71px;
  text-align: center;
  margin: 0 auto;
  background-color: var(--green-accent);
  position: relative;
  color: var(--white-text);
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__flag::before,
.header__flag::after {
  content: "";
  width: 50%;
  box-sizing: border-box;
  display: block;
  position: absolute;
  bottom: -40px;
  border: 40px solid transparent;
  border-bottom-width: 0;
}
.header__flag::before {
  left: 0;
  border-top-color: var(--green-accent);
  border-left-width: 0;
}

.header__flag::after {
  right: 0;
  border-top-color: var(--green-accent);
  border-right-width: 0;
}
.header__stars {
  padding: 30px 0 0;
}
.header__star {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(/img/star.svg) no-repeat;
}
.header__rating-title {
  color: var(--white-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.header__rating-subtitle {
  color: var(--white-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.header__project-calc {
  padding-top: 40px;
}
.header__sent-project {
  display: flex;
  max-width: 195px;
  color: var(--white-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-decoration-line: underline;
}
.header__sent-project::before {
  content: "";
  display: block;
  width: 63px;
  border-radius: 50%;
  height: 42px;
  background: #394858 url(/img/sent-project.svg) no-repeat 50%;
  background-size: 22px 22px;
  margin-right: 16px;
}
.header__social {
  margin-left: auto;
  padding-top: 40px;
}
.header__social-title {
  color: var(--white-text);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 104%;
  margin-bottom: 6px;
  text-align: center;
}
.header__call {
  margin-left: auto;
  padding-top: 40px;
}
.header__call-title {
  color: var(--white-text);
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 4px;
}
.header__call-tel {
  display: block;
  color: var(--white-text);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__call-query {
  display: block;
  color: #50de62;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.header__menu {
  min-height: 72px;
  line-height: 72px;
}
.header__menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.header__menu-link {
  color: var(--white-text);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 104%;
  text-decoration: none;
  padding: 10px 0;
  -o-transition: padding 0.4s ease;
  -ms-transition: padding 0.4s ease;
  -moz-transition: padding 0.4s ease;
  -webkit-transition: padding 0.4s ease;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(var(--green-accent), var(--green-accent));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.2s;
}
.header__menu-link:hover {
  background-size: 100% 2px;
}
.header__menu-link_active {
  background-size: 100% 2px;
}
/*#endregion HEADER*/

/*#region SOCIAL LINK */
.social-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-size: 18px;
}
.social-list__link_whatsupp {
  box-shadow: 1px 1px 0px 0px #26e03f inset,
    -1px -1px 0px 0px var(--green-accent) inset;
  background: #1fd637;
}
.social-list__link_telegram {
  box-shadow: 1px 1px 0px 0px #2fbaff inset, -1px -1px 0px 0px #008cd1 inset;
  background: #02a4f4 url(/img/telegram.svg) no-repeat 50%;
}
.social-list__link_youtube {
  box-shadow: 1px 1px 0px 0px #ff5959 inset, -1px -1px 0px 0px #e72e2e inset;
  background: #f34343 url(/img/youtube.svg) no-repeat 50%;
}
.social-list__link_vk {
  box-shadow: 1px 1px 0px 0px #1d84ff inset, -1px -1px 0px 0px #0668db inset;
  background: #0271f4 url(/img/vk.svg) no-repeat 50%;
}
/*#endregion SOCIAL LINK */

/*#region COVER */
.cover {
  background: url(/img/cover-bg.jpg) no-repeat;
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-size: cover;
  padding: 200px 0 0;
  position: relative;
  overflow: hidden;
}
.cover__bg-left-top {
  background: url(/img/cover-left-top-bg.png) no-repeat;
  width: 413px;
  height: 274px;
  left: 0;
  top: 0;
  position: absolute;
}
.cover__bg-left-bottom-1 {
  background: url(/img/cover-left-bottom-1-bg.png) no-repeat;
  width: 560px;
  height: 268px;
  left: -15px;
  bottom: -20px;
  position: absolute;
}
.cover__bg-left-bottom-2 {
  background: url(/img/cover-left-bottom-2-bg.png) no-repeat;
  width: 361px;
  height: 185px;
  left: 0;
  bottom: -12px;
  position: absolute;
}
.cover__bg-right-1 {
  background: url(/img/cover-right-1-bg.png) no-repeat;
  width: 696px;
  height: 489px;
  right: -205px;
  bottom: -193px;
  position: absolute;
}
.cover__bg-right-2 {
  background: url(/img/cover-right-2-bg.png) no-repeat;
  width: 610px;
  height: 428px;
  right: -205px;
  bottom: -209px;
  position: absolute;
}
.cover__wrapper {
  max-width: var(--main-width);
  margin: 0 auto;
}
.cover__under-title {
  color: var(--white-text);
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.28px;
  margin: 47px 0 0;
}
.cover__under-title_green {
  color: var(--green-accent);
}
.cover__title {
  color: var(--white-text);
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}
.cover__subtitle {
  display: flex;
  color: var(--white-text);
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  margin: 4px 0 0;
}
.cover__subtitle::before {
  display: block;
  content: "";
  width: 93px;
  height: 1px;
  background: var(--green-accent);
  margin: 12px 15px 0 100px;
}
.cover__button {
  display: block;
  margin: 68px 0 72px;
  padding: 25px 70px 25px 103px;
  text-align: left;
  background: url(/img/calc.svg) no-repeat 49px 50%,
    linear-gradient(180deg, var(--green-accent) 0%, #398944 100%);
  background-size: 47px;
}
.cover__feature-wrapper {
  display: flex;
  gap: 30px;
}
.cover__feature-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 333px;
  height: 130px;
  border-radius: 20px;
  border: 1px solid #607083;
  background: rgba(57, 72, 88, 0.2);
  backdrop-filter: blur(10px);
  padding: 0 30px;
}
.cover__feature-text {
  color: var(--white-text);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 127%;
  letter-spacing: 0.72px;
}
/*#endregion COVER*/

/*#region WELCOME*/

.welcome {
  position: relative;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  gap: 40px;
  max-width: 1508px;
  margin: -110px auto 0;
  background: #fff;
  border-radius: 30px;
  border: 1px solid #f6f6f6;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.welcome__seoPhoto {
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 100%;
  width: 292px;
  height: 292px;
  border: 22px solid rgba(10, 188, 34, 0.07);
  overflow: hidden;
}
.welcome__text {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%;
  padding: 0;
  margin: 0 0 35px;
}
.welcome__video-wrapper {
  position: relative;
  flex-shrink: 0;
  width: 332px;
  height: 292px;
  border-radius: 20px;
  background: #d9d9d9;
}
.welcome__video-play {
  position: absolute;
  width: 92px;
  height: 92px;
  border-radius: 100%;
  background: #fff url(/img/play.svg) no-repeat 50%;
  background-size: 31px 35px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*#endregion WELCOME*/

/*#region CATEGORY GRID*/
.categoryGrid {
  padding: 67px;
}
.categoryGrid__wrapper {
  max-width: var(--main-width);
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  display: grid;
  gap: 30px 30px;
  grid-auto-flow: row;
}
.categoryGrid__floors {
  grid-area: 1 / 3 / 3 / 4;
  background: linear-gradient(
      90deg,
      rgb(4 4 4 / 45%) 36.64%,
      rgba(69, 75, 90, 0) 100%
    ),
    url(/img/cat-floor.jpg) no-repeat;
  background-size: cover;
  border-radius: 25px;
  mix-blend-mode: multiply;
}
.categoryGrid__blocks {
  grid-area: 1 / 2 / 2 / 3;
  background: linear-gradient(
      90deg,
      rgb(4 4 4 / 45%) 36.64%,
      rgba(69, 75, 90, 0) 100%
    ),
    url(/img/cat-block-bg.png) no-repeat;
  background-size: cover;
  border-radius: 25px;
  mix-blend-mode: multiply;
}
.categoryGrid__stones {
  grid-area: 1 / 1 / 2 / 2;
  background: linear-gradient(
      90deg,
      rgb(4 4 4 / 45%) 36.64%,
      rgba(69, 75, 90, 0) 100%
    ),
    url(/img/cat-stone.png) no-repeat;
  background-size: cover;
  border-radius: 25px;
  mix-blend-mode: multiply;
}
.categoryGrid__size {
  grid-area: 2 / 1 / 3 / 2;
  background: linear-gradient(
      90deg,
      rgb(4 4 4 / 45%) 36.64%,
      rgba(69, 75, 90, 0) 100%
    ),
    url(/img/cat-size.png) no-repeat;
  background-size: cover;
  border-radius: 25px;
  mix-blend-mode: multiply;
}
.categoryGrid__options {
  grid-area: 2 / 2 / 3 / 3;
  background: linear-gradient(
      90deg,
      rgb(4 4 4 / 45%) 36.64%,
      rgba(69, 75, 90, 0) 100%
    ),
    url(/img/cat-options.jpg) no-repeat;
  background-size: cover;
  border-radius: 25px;
  mix-blend-mode: multiply;
}

/*#endregion CATEGORY GRID */
