/*#region FONTS */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/*#endregion FONTS*/

/* variables */
:root {
  --main-width: 1420px;
  --header-height: 200px;
  --font-roboto: "Roboto", sans-serif;

  --green-accent: #0abc22;
  --white-text: #fff;
  font-family: "Roboto", sans-serif;
}
/*#region UTILS */
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.button-flat {
  border-radius: 5px;
  background: #44c054;
  padding: 19px 22px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}
.button-card {
  display: inline-block;
  border-radius: 10px;
  background: linear-gradient(180deg, #50de62 0%, #0abc22 100%);
  padding: 15px 15px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-decoration: none;
  text-transform: uppercase;
}
.green-button {
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(180deg, var(--green-accent) 0%, #398944 100%);
  color: var(--white-text);
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  padding: 25px 35px;
  border: 0;
  outline: 0;
}
.green-text-accent {
  color: var(--green-accent);
}
/*#endregion UTILS */

/*#region LOGO */
.logo {
  text-indent: -99999999999px;
  overflow: hidden;
  display: block;
  width: 220px;
  height: 43px;
  background-size: contain;
}
.logo::before {
  content: "";
  display: block;
  width: 52px;
  height: 43px;
  background-size: contain;
}
.logo_white {
  background: url(/img/logo-topdom-text-white.svg) no-repeat 63px 50%;
  background-size: contain;
}
.logo_white::before {
  background: url(/img/logo-topdom-pic-white.svg) no-repeat;
  background-size: contain;
}
.logo_header {
  margin: 38px 42px 0 0;
}
/*#endregion LOGO*/

/*#region HEADER */
.header {
  position: relative;
  z-index: 9999999;
}
.header__wrapper {
  height: var(--header-height);
  max-width: var(--main-width);
  margin: 0 auto -200px;
  background: transparent;
}
.header__upper {
  min-height: 132px;
  display: flex;
  flex-wrap: nowrap;
}
.header__rating {
  display: flex;
  gap: 21px;
  margin-right: 85px;
}
.header__flag {
  box-sizing: border-box;
  padding: 20px 0 0;
  width: 77px;
  height: 71px;
  text-align: center;
  margin: 0 auto;
  background-color: var(--green-accent);
  position: relative;
  color: var(--white-text);
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__flag::before,
.header__flag::after {
  content: "";
  width: 50%;
  box-sizing: border-box;
  display: block;
  position: absolute;
  bottom: -40px;
  border: 40px solid transparent;
  border-bottom-width: 0;
}
.header__flag::before {
  left: 0;
  border-top-color: var(--green-accent);
  border-left-width: 0;
}

.header__flag::after {
  right: 0;
  border-top-color: var(--green-accent);
  border-right-width: 0;
}
.header__stars {
  padding: 30px 0 0;
}
.header__star {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(/img/star.svg) no-repeat;
}
.header__rating-title {
  color: var(--white-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.header__rating-subtitle {
  color: var(--white-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.header__project-calc {
  padding-top: 40px;
}
.header__sent-project {
  display: flex;
  max-width: 195px;
  color: var(--white-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-decoration-line: underline;
}
.header__sent-project::before {
  content: "";
  display: block;
  width: 63px;
  border-radius: 50%;
  height: 42px;
  background: #394858 url(/img/sent-project.svg) no-repeat 50%;
  background-size: 22px 22px;
  margin-right: 16px;
}
.header__social {
  margin-left: auto;
  padding-top: 40px;
}
.header__social-title {
  color: var(--white-text);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 104%;
  margin-bottom: 6px;
  text-align: center;
}
.header__call {
  margin-left: auto;
  padding-top: 40px;
}
.header__call-title {
  color: var(--white-text);
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.header__call-title::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #45d37e;
  margin-bottom: 4px;
}
.header__call-tel {
  display: block;
  color: var(--white-text);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__call-query {
  display: block;
  color: #50de62;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.header__menu {
  min-height: 72px;
  line-height: 72px;
}
.header__menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.header__menu-link {
  color: var(--white-text);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 104%;
  text-decoration: none;
  padding: 10px 0;
  -o-transition: padding 0.4s ease;
  -ms-transition: padding 0.4s ease;
  -moz-transition: padding 0.4s ease;
  -webkit-transition: padding 0.4s ease;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(var(--green-accent), var(--green-accent));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.2s;
}
.header__menu-link:hover {
  background-size: 100% 2px;
}
.header__menu-link_active {
  background-size: 100% 2px;
}
/*#endregion HEADER*/

/*#region SOCIAL LINK */
.social-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-size: 18px;
}
.social-list__link_whatsupp {
  box-shadow: 1px 1px 0px 0px #26e03f inset,
    -1px -1px 0px 0px var(--green-accent) inset;
  background: #1fd637;
}
.social-list__link_telegram {
  box-shadow: 1px 1px 0px 0px #2fbaff inset, -1px -1px 0px 0px #008cd1 inset;
  background: #02a4f4 url(/img/telegram.svg) no-repeat 50%;
}
.social-list__link_youtube {
  box-shadow: 1px 1px 0px 0px #ff5959 inset, -1px -1px 0px 0px #e72e2e inset;
  background: #f34343 url(/img/youtube.svg) no-repeat 50%;
}
.social-list__link_vk {
  box-shadow: 1px 1px 0px 0px #1d84ff inset, -1px -1px 0px 0px #0668db inset;
  background: #0271f4 url(/img/vk.svg) no-repeat 50%;
}
/*#endregion SOCIAL LINK */

/*#region COVER */
.cover {
  background: url(/img/cover-bg.jpg) no-repeat;
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-size: cover;
  padding: 200px 0 0;
  position: relative;
  overflow: hidden;
}
.cover__bg-left-top {
  background: url(/img/cover-left-top-bg.png) no-repeat;
  width: 413px;
  height: 274px;
  left: 0;
  top: 0;
  position: absolute;
}
.cover__bg-left-bottom-1 {
  background: url(/img/cover-left-bottom-1-bg.png) no-repeat;
  width: 560px;
  height: 268px;
  left: -15px;
  bottom: -20px;
  position: absolute;
}
.cover__bg-left-bottom-2 {
  background: url(/img/cover-left-bottom-2-bg.png) no-repeat;
  width: 361px;
  height: 185px;
  left: 0;
  bottom: -12px;
  position: absolute;
}
.cover__bg-right-1 {
  background: url(/img/cover-right-1-bg.png) no-repeat;
  width: 696px;
  height: 489px;
  right: -205px;
  bottom: -193px;
  position: absolute;
}
.cover__bg-right-2 {
  background: url(/img/cover-right-2-bg.png) no-repeat;
  width: 610px;
  height: 428px;
  right: -205px;
  bottom: -209px;
  position: absolute;
}
.cover__wrapper {
  max-width: var(--main-width);
  margin: 0 auto;
}
.cover__under-title {
  color: var(--white-text);
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.28px;
  margin: 47px 0 0;
}
.cover__under-title_green {
  color: var(--green-accent);
}
.cover__title {
  color: var(--white-text);
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}
.cover__subtitle {
  display: flex;
  color: var(--white-text);
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  margin: 4px 0 0;
}
.cover__subtitle::before {
  display: block;
  content: "";
  width: 93px;
  height: 1px;
  background: var(--green-accent);
  margin: 12px 15px 0 100px;
}
.cover__button {
  display: block;
  margin: 68px 0 72px;
  padding: 25px 70px 25px 103px;
  text-align: left;
  background: url(/img/calc.svg) no-repeat 49px 50%,
    linear-gradient(180deg, var(--green-accent) 0%, #398944 100%);
  background-size: 47px;
}
.cover__feature-wrapper {
  display: flex;
  gap: 30px;
}
.cover__feature-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 333px;
  height: 130px;
  border-radius: 20px;
  border: 1px solid #607083;
  background: rgba(57, 72, 88, 0.2);
  backdrop-filter: blur(10px);
  padding: 0 30px;
}
.cover__feature-text {
  color: var(--white-text);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 127%;
  letter-spacing: 0.72px;
}
/*#endregion COVER*/

/*#region WELCOME*/

.welcome {
  position: relative;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  gap: 40px;
  max-width: 1508px;
  margin: -110px auto 0;
  background: #fff;
  border-radius: 30px;
  border: 1px solid #f6f6f6;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.welcome__seoPhoto {
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 100%;
  width: 292px;
  height: 292px;
  border: 22px solid rgba(10, 188, 34, 0.07);
  overflow: hidden;
}
.welcome__text {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%;
  padding: 0;
  margin: 0 0 35px;
}
.welcome__video-wrapper {
  position: relative;
  flex-shrink: 0;
  width: 332px;
  height: 292px;
  border-radius: 20px;
  background: #d9d9d9;
}
.welcome__video-play {
  position: absolute;
  width: 92px;
  height: 92px;
  border-radius: 100%;
  background: #fff url(/img/play.svg) no-repeat 50%;
  background-size: 31px 35px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*#endregion WELCOME*/

/*#region CATEGORY GRID*/
.categoryGrid {
  padding: 67px;
}
.categoryGrid__wrapper {
  max-width: var(--main-width);
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  display: grid;
  gap: 30px 30px;
  grid-auto-flow: row;
}
.categoryGrid__block {
  padding: 25px;
  box-sizing: border-box;
  border-radius: 25px;
  mix-blend-mode: multiply;
  position: relative;
  overflow: hidden;
}
.categoryGrid__bg {
  background: url(/img/cat-bg.png) no-repeat;
  width: 212px;
  height: 88px;
  right: 0;
  bottom: -12px;
  position: absolute;
}
.categoryGrid__floors {
  grid-area: 1 / 3 / 3 / 4;
  background: linear-gradient(
      90deg,
      rgb(4 4 4 / 45%) 36.64%,
      rgba(69, 75, 90, 0) 100%
    ),
    url(/img/cat-floor.jpg) no-repeat;
  background-size: cover;
}
.categoryGrid__blocks {
  grid-area: 1 / 2 / 2 / 3;
  background: linear-gradient(
      90deg,
      rgb(4 4 4 / 45%) 36.64%,
      rgba(69, 75, 90, 0) 100%
    ),
    url(/img/cat-block-bg.png) no-repeat;
  background-size: cover;
}
.categoryGrid__stones {
  grid-area: 1 / 1 / 2 / 2;
  background: linear-gradient(
      90deg,
      rgb(4 4 4 / 45%) 36.64%,
      rgba(69, 75, 90, 0) 100%
    ),
    url(/img/cat-stone.png) no-repeat;
  background-size: cover;
}
.categoryGrid__size {
  grid-area: 2 / 1 / 3 / 2;
  background: linear-gradient(
      90deg,
      rgb(4 4 4 / 45%) 36.64%,
      rgba(69, 75, 90, 0) 100%
    ),
    url(/img/cat-size.png) no-repeat;
  background-size: cover;
}
.categoryGrid__options {
  grid-area: 2 / 2 / 3 / 3;
  background: linear-gradient(
      90deg,
      rgb(4 4 4 / 45%) 36.64%,
      rgba(69, 75, 90, 0) 100%
    ),
    url(/img/cat-options.jpg) no-repeat;
  background-size: cover;
}
.categoryGrid__header-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.categoryGrid__header-title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  max-width: 135px;
  letter-spacing: 1px;
}
.categoryGrid__header-number-text {
  height: fit-content;
  border-radius: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  margin: 0;
  background: var(--white-text);
}
.categoryGrid__header-number {
  margin: 0;
  padding: 0;
}
.categoryGrid__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.categoryGrid__list-item {
  margin-bottom: 8px;
}
.categoryGrid__footer-wrap {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
}
.categoryGrid__list-link {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  text-decoration-line: underline;
  background: url(/img/arrow-blue.svg) 0 40% no-repeat;
  background-size: 13px;
  padding-left: 18px;
}
.categoryGrid__footer-watch-all {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: fit-content;
  text-transform: uppercase;
  border-bottom: 1px dashed #02a4f4;
}
.categoryGrid__footer-watch-price {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 31px 0 0;
}
.categoryGrid__footer-watch-price-accent {
  font-size: 24px;
}
.categoryGrid__header-title_floors {
  font-size: 36px;
  max-width: 205px;
  line-height: 130%;
}
.categoryGrid__footer-wrap_floors {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
}
.categoryGrid__footer-link-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categoryGrid__footer-calc {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 19px 45px;
  border: 2px solid #4eaaff;
  border-radius: 90px;
  text-decoration: none;
}
.categoryGrid__footer-watch-price_floors {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 6px;
}
.categoryGrid__footer-watch-price-accent_floors {
  font-size: 37px;
}
.categoryGrid__list_floors {
  margin-bottom: 33px;
}
/*#endregion CATEGORY GRID */

/*#region CATEGORY TAGS */
.categoryCard {
  padding: 75px 0 0;
}
.categoryTags__wrapper {
  max-width: var(--main-width);
  margin: 0 auto;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 60px;
  gap: 20px;
}
.categoryTags__link {
  padding: 19px 22px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
  border-radius: 5px;
  background: #f6f6f6;
  text-decoration: none;
}
.categoryTags__link:hover {
  background: #eceaea;
}
/*#endregion CATEGORY TAGS */

/*#region PROJECT LIST */
.project-list__wrapper {
  max-width: var(--main-width);
  margin: 0 auto;
}
.title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  text-align: center;
  margin: 0 0 40px;
}
.project-list__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 45px;
  padding: 0 0 50px;
}
/*#endregion PROJECT LIST */

/*#region Swiper styles **/

:root {
  --swiper-navigation-top-offset: 82%;
}

.swiper {
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background-color: rgba(51, 51, 51, 1);
  border-radius: 25px;
}

.swiper-slide-image {
  position: absolute;
  object-fit: cover;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.swiper-button-prev {
  background-image: url("/img/prev_n.svg") !important;
  background-repeat: no-repeat;
  background-size: 18px;
  width: 18px;
  height: 20px;
  left: 12px;
}

.swiper-button-next {
  background-image: url("/img/play_n.svg") !important;
  background-repeat: no-repeat;
  background-size: 18px;
  width: 18px;
  height: 20px;
  right: 12px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.swiper-pagination-wrapper {
  box-sizing: border-box;
  z-index: 2;
  display: inline-block;
  position: absolute;
  width: 136px;
  height: 40px;
  bottom: 14px;
  left: 14px;
  border-radius: 100px;
  border: 1px solid #797979;
  background: rgba(96, 112, 131, 0.2);
  backdrop-filter: blur(10px);
}
.swiper-pagination-current {
  color: #50de62;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}
.swiper-pagination-fraction {
  color: var(--white-text);
  font-size: 13.35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.534px;
}
/*#endregion Swiper styles  */

/*#region PROJECT */
.project {
  width: calc(33.33333% - 30px);
  overflow: hidden;
}
.project__image-wrap {
  position: relative;
  height: 300px;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 0 25px;
}
.project__title-wrap {
  display: flex;
  margin: 0 0 17px 0;
}
.project__title {
  display: inline-block;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.96px;
  margin: 0 43px 0 0;
  padding: 0;
}
.project__title-hr {
  background: #02a4f4;
  height: 1px;
  flex-grow: 1;
  margin: 10px 0 0 0;
}
.project__image-status {
  position: absolute;
  color: var(--white-text);
  font-size: 13.35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.534px;
  z-index: 2;
  padding: 2px 12px;
  text-transform: uppercase;
}
.project__image-status_hit {
  background: #44c054;
  border-radius: 84px;
  top: 25px;
  left: 25px;
}
.project__image-status_top {
  background: #4eaaff;
  border-radius: 84px;
  top: 25px;
  left: 87px;
}
.project__stats-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 0 28px;
  border-bottom: 1px solid #ebebeb;
}
.project__stats-item {
  display: flex;
  align-items: flex-end;
  width: calc(50% - 10px);
  flex-shrink: 0;
}
.project__stats-pic {
  margin: 0 11px 0 0;
  display: block;
  width: 20px;
  height: 20px;
}
.project__stats-pic_size {
  background: url(/img/size.svg) no-repeat;
}
.project__stats-pic_bath {
  background: url(/img/bathroom.svg) no-repeat;
}
.project__stats-pic_room {
  background: url(/img/rooms.svg) no-repeat;
}
.project__stats-pic_bed {
  background: url(/img/bedrooms.svg) no-repeat;
}
.project__stats-name {
  color: #7b7b7b;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.72px;
}
.project__stats-num {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}
.project__options-wrap {
  padding: 21px 0 16px;
  margin: 0 0 30px;
  border-bottom: 1px solid #ebebeb;
}
.project__options-time {
  display: flex;
  justify-content: space-between;
  margin: 0 0 7px;
}
.project__options-time-title {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}
.project__options-time-value {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}
.project__options-price {
  display: flex;
  justify-content: space-between;
}
.project__options-price-value {
  padding: 0;
  margin: 0;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}
.project__options-price-value span {
  color: #aeaeae;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}
.project__options-price-link {
  color: #44c054;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  text-decoration-line: underline;
}
.project__contacts-wrap {
  display: flex;
  gap: 16px;
}
.project__contacts-button {
  min-width: 212px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.project__contacts-text {
  padding: 0;
  margin: 0;
  color: #444;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 129%;
}
.project__contacts-text-accent {
  text-decoration: underline;
}

/*#endregion PROJECT */

/*#region CONSULTATION FORM */

.consultation-form {
  z-index: 2;
  position: inherit;
}
.consultation__form-wrap {
  position: relative;
  background: url(/img/bg-form-card.jpg) no-repeat;
  background-size: cover;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 25px;
}
.consultation__form-title {
  color: #000;
  font-size: 31px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  margin: 32px 0 3px;
}
.consultation__form-subtitle {
  display: block;
  max-width: 250px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  line-height: 121%;
  padding: 0 0 26px;
  margin: 0 auto 30px;
  border-bottom: dashed 2px #0abc22;
}
.consultation-form__input {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 59px;
  border: 1px solid #f1f1f1;
  background: #fff;
  height: 72px;
  text-align: center;
  box-sizing: border-box;
  color: #9b9b9b;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.consultation-form__input:focus-visible {
  outline: solid 1px #0abc22;
}
.consultation-form__input:first-of-type {
  margin-bottom: 20px;
}
.consultation-form__policy-checkbox {
  width: 22px;
  height: 22px;
}
.consultation-form__checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.consultation-form__checkbox-wrap {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 0 42px;
  margin: 30px 0 37px;
}
.consultation-form__checkbox + label {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 121%;
  gap: 11px;
}
.consultation-form__checkbox + label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 22px;
  height: 22px;
  background-color: white;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 5px;
  box-shadow: none;
  flex-shrink: 0;
}
.consultation-form__checkbox:checked + label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjMGFiYzIyIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  height: 22px;
  width: 22px;
}
.consultation-form__submit {
  border-radius: 59px;
  border: 0;
  outline: 0;
  padding: 24px 45px 24px 87px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  background: var(--green-accent) url(/img/whatsapp.svg) 40px 50% no-repeat;
  background-size: 30px;
  cursor: pointer;
}
.consultation__bg {
  background: url(/img/bg-form-card-tree.png) no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 415px;
  height: 172px;
}
/*#endregion CONSULTATION FORM */

/*#region NUMBERS */
.numbers__bg-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 110px 90px;
  border-radius: 30px;
  background: rgba(80, 222, 98, 0.65) url(/img/numbers-bg1-min.png) no-repeat;
  background-size: cover;
}
.numbers__wrapper {
  max-width: var(--main-width);
  margin: 0 auto;
}
.numbers__head {
  display: flex;
  align-items: center;
  margin: 0 0 57px;
}
.numbers__title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  margin: 0 53px 0 0;
}
.numbers__subtitle {
  border-left: 1px solid var(--green-accent);
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 147%;
  padding: 0 0 0 20px;
  max-width: 420px;
  margin: 0;
}
.numbers__year {
  margin: 0;
  margin-left: auto;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  padding: 0;
}
.numbers__cards-wrap {
  display: flex;
  gap: 32px;
}
.numbers__card {
  position: relative;
  overflow: hidden;
  background: #fff;
  height: 100%;
  border-radius: 20px;
}
.numbers__card-wrap {
  width: calc(25% - 24px);
  height: 330px;
  border-radius: 20px;
  position: relative;
}
.numbers__plus {
  width: 47px;
  height: 47px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: -23px;
  z-index: 2;
  transform: translate(-50%, 0);
}
.numbers__card-title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 35px 0 0 27px;
  padding: 0;
}
.numbers__card-subtitle {
  max-width: 215px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 147%;
  margin: 0 0 0 27px;
  padding: 0;
}
.numbers__card__home-num-bg3 {
  position: absolute;
  background: url(/img/number-bg-1-2.png) no-repeat;
  width: 85px;
  height: 31px;
  bottom: 0;
  left: 11px;
}
.numbers__card__home-num-bg2 {
  position: absolute;
  background: url(/img/number-bg-1-3.png) no-repeat;
  width: 80px;
  height: 46px;
  bottom: 0;
  left: 0;
}
.numbers__card__home-num-bg1 {
  position: absolute;
  background: url(/img/number-bg-1-1.png) no-repeat;
  width: 330px;
  height: 206px;
  bottom: 0;
  right: 0;
}
.numbers__card__home-in-town1 {
  position: absolute;
  background: url(/img/number-bg-2-1.png) no-repeat;
  width: 330px;
  height: 192px;
  bottom: 0;
  right: 0;
}
.numbers__card__home-in-town2 {
  position: absolute;
  background: url(/img/number-bg-2-2.png) no-repeat;
  width: 159px;
  height: 240px;
  bottom: 0;
  right: 0;
}
.numbers__card__home-in-town3 {
  position: absolute;
  background: url(/img/number-bg-1-2.png) no-repeat;
  width: 85px;
  height: 31px;
  bottom: 16px;
  left: -27px;
}
.numbers__card__home-in-town4 {
  position: absolute;
  background: url(/img/number-bg-1-2.png) no-repeat;
  width: 85px;
  height: 31px;
  bottom: 7px;
  right: -46px;
}
.numbers__card_home-in-year1 {
  position: absolute;
  background: url(/img/number-bg-3-1.png) no-repeat;
  width: 330px;
  height: 266px;
  bottom: 0;
  right: 0;
}
.numbers__card_home-in-year2 {
  position: absolute;
  background: url(/img/number-bg-1-2.png) no-repeat;
  width: 85px;
  height: 31px;
  bottom: 0;
  left: -9px;
}
.numbers__card_home-in-year3 {
  position: absolute;
  background: url(/img/number-bg-3-3.png) no-repeat;
  width: 162px;
  height: 146px;
  bottom: 0;
  left: 0;
}
.numbers__card_home-in-year4 {
  position: absolute;
  background: url(/img/number-bg-3-2.png) no-repeat;
  width: 114px;
  height: 261px;
  bottom: 0;
  right: 0;
}
.numbers__card_price1 {
  position: absolute;
  background: url(/img/number-bg-4-1.png) no-repeat;
  width: 330px;
  height: 202px;
  bottom: 0;
  right: 0;
}
.numbers__card_price2 {
  position: absolute;
  background: url(/img/number-bg-4-2.png) no-repeat;
  width: 132px;
  height: 308px;
  bottom: 0;
  right: 0;
}
.numbers__card_price3 {
  position: absolute;
  background: url(/img/number-bg-1-2.png) no-repeat;
  width: 85px;
  height: 31px;
  bottom: 83px;
  left: -9px;
}

/*#endregion NUMBERS */

/*#region ARCH */
.arch-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 55px auto 0;
  padding-top: 30px;
  background: url(/img/sky-bg.png) no-repeat;
  background-size: cover;
}
.arch-form__wrapper {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  position: relative;
}
.arch-form__title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 147%;
  letter-spacing: 1px;
  max-width: 740px;
  padding: 0;
  margin: 0;
}
.arch-form__container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  position: inherit;
  padding: 0 0 140px;
}
.arch-form__feature {
  padding: 82px 0 0 0;
}
.arch-form__feature-title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin: 0 0 22px;
}
.arch-form__feature-list {
  list-style: none;
  padding: 0;
  margin: 0 0 56px;
}
.arch-form__feature-item {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 181%;
  padding-left: 25px;
  background: url(/img/arrow-green.svg) 0 40% no-repeat;
  background-size: 15px;
}
.arch-form__feature-video-play {
  position: absolute;
  right: -21px;
  top: 50%;
  transform: translate(0, -50%);
}
.arch-form__feature-video-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 308px;
  height: 174px;
  border-radius: 20px;
  border: 5px solid #fff;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0 100px 6px 21px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 6px 8px -3px rgba(155, 158, 159, 0.16);
  -moz-box-shadow: 0px 6px 8px -3px rgba(155, 158, 159, 0.16);
  box-shadow: 0px 6px 8px -3px rgba(155, 158, 159, 0.16);
}
.arch-form__feature-video1 {
  background: url(/img/feature-video1.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 18px;
}
.arch-form__feature-video2 {
  background: url(/img/feature-video2.jpg) no-repeat;
  background-size: cover;
}
.arch-form__form {
  padding: 20px;
  border-radius: 25px;
  background: #fff;
  max-width: 493px;
  height: fit-content;
  position: inherit;
}
.arch-form__form-wrapper {
  border-radius: 20px;
  border: 1px solid #eee;
}
.consultation__form-title_arch {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 47px 20px 0;
}
.consultation-form_arch {
  margin: 36px 0 46px 0;
  padding: 0 40px;
}
.consultation-form__checkbox_arch + label::before {
  background-color: #e4f2ff;
}
.arch-form__bg {
  position: absolute;
  right: 141px;
  bottom: 75px;
}
.arch-form__bg-tree1 {
  position: absolute;
  right: 214px;
  top: -75px;
}
.arch-form__bg-tree2 {
  position: absolute;
  right: -89px;
  bottom: 135px;
  rotate: 180deg;
}
/*#endregion ARCH */

/*#region LAND */
.land__wrapper {
  max-width: var(--main-width);
  margin: 0 auto;
}
/*#endregion LAND */
